<!-- src/app/app.component.html -->
<div *ngIf="isLoggedIn && !isAdmin">
  <app-navbar></app-navbar>
  <app-header></app-header>
</div>

<nav *ngIf="!isLoggedIn">
  <a routerLink="/login" *ngIf="!isLoggedIn">Login</a>
  <a routerLink="/signup" *ngIf="!isLoggedIn">Signup</a>
  <a routerLink="/admin" *ngIf="isLoggedIn && isAdmin">Admin Dashboard</a>
  <a routerLink="/user" *ngIf="isLoggedIn && !isAdmin">User Dashboard</a>
  <a (click)="logout()" *ngIf="isLoggedIn">Logout</a>
</nav>

<router-outlet></router-outlet>
