<div class="bd-example">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../assets/img/slides/h2-slide.jpg"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-md-block">
          <h5>Food so good, even your ex will ask for seconds!</h5>
          <h3 class="d-none sub-text d-md-block d-lg-block">
            Because food never disappoints, unlike some relationships.
          </h3>

          <button
            class="btn btn-outline-secondary"
            [routerLink]="'/restaurants'"
          >
            View Our Restaurants
          </button>
          <form action="" class="d-none">
            <input type="text" placeholder="Search Restaurant" />
          </form>
        </div>
      </div>
      <!-- Add more carousel items if needed -->
    </div>
  </div>
</div>
