<!-- src/app/navbar/navbar.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="/">
      <img
        src="https://img15.deviantart.net/47dd/i/2012/247/2/4/chibi_luffy_by_taiyohisakawa-d5dj7pu.png"
        alt="Logo"
        height="50px"
        width="50px"
      />
    </a>
    <span class="nav-item" style="display: flex; align-items: center">
      <span class="nav-link" style="margin-left: auto; margin-right: auto">
        Welcome, {{ role === "admin" ? "Admin" : "User" }}!
      </span>
    </span>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/restaurants">Restaurants</a>
        </li>
        <li class="nav-item dropdown" *ngIf="!isAdmin">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownCart"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            🛒 Cart
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownCart">
            <li><a class="dropdown-item" routerLink="/cart">View Cart</a></li>
            <li>
              <a class="dropdown-item" routerLink="/checkout">Checkout</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="!isAdmin">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownAccount"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            🥷🏻 Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
            <li>
              <a class="dropdown-item" routerLink="/customer/profile"
                >Profile</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/customer/my-orders"
                >My Orders</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="/customer/login">Log In</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/customer/register"
                >Register</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
