<div class="menu-container">
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Search Menu Items"
      (input)="search()"
    />
    <button class="btn btn-primary" (click)="search()">Search</button>
  </div>
  <div class="filters">
    <button
      *ngFor="let filter of filters"
      class="btn"
      [class.btn-primary]="selectedFilter === filter"
      (click)="applyFilter(filter)"
    >
      {{ filter }}
    </button>
  </div>
  <div *ngIf="filteredItems.length === 0" class="no-items">
    <img
      src="assets/placeholder-image.png"
      alt="No items"
      class="placeholder-image"
    />
    <p>No menu items available.</p>
  </div>
  <div class="menu-grid" *ngIf="filteredItems.length > 0">
    <div class="menu-card" *ngFor="let item of filteredItems">
      <div class="menu-info">
        <img src="{{ item.img }}" alt="..." height="150px" width="150px" />
        <h2 class="menu-name">{{ item.name }}</h2>
        <p class="menu-category">{{ item.category }}</p>
        <p>Price : {{ item.cost }}💲</p>
        <p>{{ item.rating }}⭐</p>
        <p>⌚{{ item.timeToMake }}</p>
        <!-- (click)="addToCart(item) -->
        <button class="btn btn-add-cart">Add to Cart 🛒</button>
      </div>
    </div>
  </div>
</div>
